<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body id="home">
    <nav>
        <div class="logo">
            <a href="/"><img width="45px" src="/images/weather.png"></a>
            <a href="/">
                <h2>Go weather</h2>
            </a>
        </div>
        <ul>
            <li>
                <a class="link1" href="/">Home</a>
                <a class="link2" href="/weather">Weather</a>
            </li>
        </ul>
    </nav>
    <section class="main">
        <div class="main-content">
            <h3>Forecast that matters</h3>
            <p>Get current weather forecast with just a few clicks</p>
            <a class="btn getstarted" href="/weather">Get started</a>
        </div>
        <div class="sm-links">
            <a href="https://www.reddit.com/user/nikhil_sourav" target="_blank">
                <img class="reddit" src="/images/reddit_white.png" alt="reddit icon">
            </a>
            <a href="https://open.spotify.com/user/314x6vv65l75mwuci3hmbd2orija?si=lYHw0I3CRdmkyNbmdQXoRw"
                target="_blank">
                <img class="spotify" src="/images/spotify_white.png" alt="spotify icon">
            </a>
            <a href="https://www.youtube.com/channel/UCGHdjWuny-XePkK7Fb1pYFg?view_as=subscriber" target="_blank">
                <img class="youtube" src="/images/youtube_white.png" alt="youtube icon">
            </a>
            <h4>Created by Nikhil Sourav</h4>
        </div>
    </section>
    <script src="/js/script.js"></script>
</body>

</html>